#mailSentMsg {
    align-items: center;
    padding-top: 150px;
    padding-right: 40%;
    padding-left: 40%;
    color: darkslateblue;
}

/*#verImg {*/
/*    padding-top: 100px;*/
/*    padding-left: 35%;*/
/*    align-items: center;*/
/*}*/